* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
  }
  
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
  }
  
  .sidebar.close {
    width: 78px;
  }
  
  .sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  
  .sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  
  .sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  
  .sidebar.close .nav-links {
    overflow: visible;
  }
  
  .sidebar .nav-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  
  .sidebar .nav-links .current {
    border-left: 4px solid #fff;
  }
  
  
  
  .sidebar .nav-links li:hover {
    background: #1d1b31;
  }
  
  .sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidebar.close .nav-links li .iocn-link {
    display: block
  }
  
  .sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
  }
  
  .sidebar.close .nav-links i.arrow {
    display: none;
  }
  
  .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  
  .sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  
  .sidebar .nav-links li.showMenu .sub-menu {
    display: block;
  }
  
  .sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  
  .sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
  }
  
  .sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  
  .sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  
  .sidebar .nav-links li .sub-menu .link_name {
    display: none;
  }
  
  .sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  
  .sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  
  .sidebar.close .profile-details {
    background: none;
  }
  
  .sidebar.close .profile-details {
    width: 78px;
  }
  
  .sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
  }
  
  .sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  
  .sidebar.close .profile-details img {
    padding: 10px;
  }
  
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job {
    display: none;
  }
  
  .sidebar .profile-details .job {
    font-size: 12px;
  }
  
  .home-section {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  
  }
  
  .sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
  }
  
  .home-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #123B95;
    height: 45px;
  }
  
  .home-section .home-content .right-side-items {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  
  }
  
  .home-section .home-content .right-side-items .profile img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  
  }
  
  .home-section .home-content .right-side-items .bx-bell {
    cursor: pointer;
    font-size: 30px;
    margin-right: 20px;
    color: #E4E9F7;
  
  
  }
  
  .home-section .home-content .bx-menu,
  .home-section .home-content .text {
    color: #E4E9F7;
    font-size: 35px;
  }
  
  .home-section .home-content .bx-menu {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
  }
  
  .logout {
    margin-top: 45%;
  }
  
  
  .logo {
    padding: 5px 0 0 80px;
    width: 150px;
    height: auto;
  
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
  }
  
  nav ul li {
    padding-right: 10px;
    position: relative;
    list-style: none;
    display: inline-block;
  
  }
  
  nav ul li a {
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
  }
  
  nav ul li a:hover {
    background: #243342;
  }
  
  nav ul li a:focus {
    background: #243342;
  }
  
 
  .i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  
  
  @media screen and (max-width: 400px) {
    .sidebar {
      width: 240px;
    }
  
    .sidebar.close {
      width: 78px;
    }
  
    .sidebar .profile-details {
      width: 240px;
    }
  
    .sidebar.close .profile-details {
      background: none;
    }
  
    .sidebar.close .profile-details {
      width: 78px;
    }
  
    .home-section {
      left: 240px;
      width: calc(100% - 240px);
    }
  
    .sidebar.close~.home-section {
      left: 78px;
      width: calc(100% - 78px);
    }
  }

  .contactform {
    width: 60%;
    background: #ffffff;
    margin: 20px auto;
  
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
  }
  
  .input-row .input-requestform {
    flex-basis: 45%;
  }
  
  .input-row .input-requestform input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
  }
  
  .contactform textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .contactform label {
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
  
  }
  
  .contactform button {
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    cursor: pointer;
  
  
  }
  
  .contactform h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
  }


  /*rmv values*/

  .rmv-values {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
  
  }
  
  .rmv-values .val-box {
    background: #fff;
    width: 290px;
    height: 130px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
  }
  
  .rmv-values .val-box .material-symbols-outlined {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: chartreuse;
    margin-right: 15px;
  }
  
  .rmv-values .val-box:nth-child(1) .material-symbols-outlined {
    background: #7B74EC;
  }
  
  .rmv-values .val-box:nth-child(2) .material-symbols-outlined {
    background: #5C8AF0;
  }
  
  .rmv-values .val-box:nth-child(3) .material-symbols-outlined {
    background: #E45D99;
  }
  
  .rmv-values .val-box:nth-child(4) .material-symbols-outlined {
    background: #74daec;
  }
  
  
  .rmv-values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .rmv-values .val-box span {
    font-size: 15px;
    color: #3f434b;
    margin-left: 30px;
  
  }
  
 
  
  
  /**dashboard**/
  .view{
    
    
      background-color: #55c2da;
      color: #E4E9F7;
      border-radius: 5px;
      border-style: none;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      padding: 15px 132px;
      align-items: center;
      margin: top 0px; ;
      
      }
     .view:hover,
    view:focus {
      background-color:  #5783db;
    }

    .view a:link{
      text-decoration: none;
      text-decoration-color: #E4E9F7;
      
    }

    .rmv-values{
      
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
    }

    .rmv-val-box{
    
    background: #fff;
    width: 290px;
    height: 230px;
    padding: auto;
    border-radius: 5px;
    display: flex;
   align-items: center;
   margin-top: 0px;
   }

   .rmv-values2 {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
    
  
  }

 




.rmv-table { 
  margin-top: 40px;
  width: 100%;
  margin-bottom: 20px;
  font-family: arial;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.rmv-table th,
.rmv-table td {
  font-weight: normal;
  font-size: 16px;
  padding: 8px 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  
}
.rmv-table thead th {
  background: #bdbdbd;
  vertical-align: bottom;
  
}   
.rmv-table tbody > tr:nth-child(odd) > td,
.rmv-table tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}    


.rmv-table .t-medium {
  width: 20%;
}
.rmv-table .t-status {
  font-weight: bold;
}
.rmv-table .t-active {
  color: #46a546;
}
.rmv-table .t-inactive {
  color: #e00300;
}

.rmv-table button{
   
  align-items: center;
  background-color: #b1cbdb;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #030303;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 33.4929px;
  padding: 1px 12px;
  text-align: left;
  text-decoration: none;
 
}

.rmv-table button:active,
.rmv-table button:hover {
  outline: 0;
  background-color: #1a1f4e;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.rmv-table button:active:hover,
.rmv-table button:focus:hover,
.rmv-table button:focus {
  background-color: #1a1f4e;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}


.contactform {
  width: 60%;
  background: #ffffff;
  margin: 20px auto;

}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}

.input-row .input-requestform {
  flex-basis: 45%;
}

.input-row .input-requestform input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

.contactform textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.contactform label {
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;

}

.contactform button {
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  cursor: pointer;


}

.contactform h3 {
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}

.board {
  width: 80%;
  margin-top: 30px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  margin-left: 30px;
}

